.loading-page {
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;


}

.loading-page > img {
    object-fit: contain;
    height: 50px;
    margin-top: 90px;
    margin-bottom: 30px;
}